{% extends 'base.html' %}
{% block css %} {% load static %}
{% endblock %}


{% block content%}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="title">Schedule</label>
            <input type="text" id="title" name="title" value="{{ post.title }}">
        </div>
        <div>
            <label for="content">Detail</label>
            <textarea name="content" id="content" cols="40" rows="10">{{ post.content }}</textarea>
        </div>
        <div>
            <label for="date">Due date</label>
            <input type="date" id="date" name="date" value="{{ post.date }}">
        </div>
        <button type="submit">Edit</button>
    </form>
</div>
{% endblock %}


