  
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action=" " method="post">
        {% csrf_token %}
        <select name="category">
            <option value="movie">영화</option>
            <option value="drama">드라마</option>
            <option value="programming">프로그래밍</option>
        </select>
        <input type="text" name="title" placeholder="제목">
        <br>
        <textarea name="content" cols="30" rows="10" placeholder="내용"></textarea>
        <button type="submit">저장</button>
    </form>
</body>
</html>