body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 40px;
}

.content {
    height: 300px;
    width: 30%;
    border-bottom: 4px solid black;
    padding-top: 25px;
}

.button {
    padding-top: 15px;
}

#home {
    width: 60%;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border-right: 4px solid black;
}

#edit {
    width: 30%;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border-right: 4px solid black;
}

#delete {
    width: 30%;
    height: 50px;
    padding-left: 25px;
}