body {
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 48px;
    width: 30%;
    height: auto;
    border: 4px solid black;
    margin-top: 50px;
    padding-bottom: 150px;
}

.content {
    height: 150px;
    border-bottom: 4px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}