<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h2>Schedule</h2>
        <p>{{ post.title }}</p>
    </div>
    <div class="content">
        <h2>Detail</h2>
        <p>{{ post.content }}</p>
    </div>
    <div class="content">
        <h2>Due date</h2>
        <p>{{ post.date }}</p>
    </div>
    <div class ="button">
        <span id="home"><a href="{% url 'home' %}">Home</a></span>
        <span id="edit"><a href="{% url 'edit' post.pk %}">Edit</a></span>
        <span id="delete"><a href="{% url 'delete' post.pk %}">Delete</a></span>
    </div>
</body>
</html>

