<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="body">
    <form action="" method="post">
        {% csrf_token %}
        <div class = "title">
            <label for="title">Schedule</label>
            <input type="text" id="title" name="title" value="{{ post.title }}">
        </div>
        <div class ="content">
            <label for="content">Detail</label>
            <textarea name="content" id="content" cols="40" rows="20">{{ post.content }}</textarea>
        </div>
        <div class ="date">
            <label for="date">Due date</label>
            <input type="date" id="date" name="date" value="{{ post.date }}">
        </div>
        <button type="submit">Edit</button>
    </form>
    </div>
</body>
</html>
