<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <h1>To do List</h1>
        <div class="button">
        <a href="{% url 'new' %}">write</a>
        </div>
        <div>
        {% for post in posts %}
        <div class="content">
            <ul>
                <li>
                    <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                    <span id="date">{{ post.date }}</span>
                </li>
            </ul>
        </div>
        {% endfor %}  
    </div>
</body>
</html>
